# Configuración de Base de Datos
DB_HOST=localhost
DB_NAME=u276320034_PDC
DB_USER=u276320034_oropesa
DB_PASS=tu_password_aqui

# Configuración de Email
MAIL_FROM=contacto@patriotasdelcaribe.com
MAIL_FROM_NAME=Patriotas del Caribe
MAIL_SMTP_HOST=smtp.gmail.com
MAIL_SMTP_PORT=587
MAIL_SMTP_USER=tu_email@gmail.com
MAIL_SMTP_PASS=tu_password_de_aplicacion

# Configuración de la Aplicación
APP_URL=https://www.patriotasdelcaribe.com
APP_NAME=Patriotas del Caribe
APP_ENV=production

# Configuración de Seguridad
APP_KEY=tu_clave_secreta_aqui
SESSION_LIFETIME=120

# Configuración de Google Analytics
GTM_ID=GTM-NBVVS6PG
GA4_ID=G-NBVVS6PGLM
GOOGLE_SITE_VERIFICATION=r5ZpRdEiBC__okZhv4_Gl3i_D-P7K_bZrcBgRDBSdIg
